{
	"baseurl": "https://api.wholesaler.leaptel.com.au/api/v1/wholesaler",
	"addressifyurl": "https://api.addressify.com.au",
	"username": "API-KEY-USERNAME",
	"password": "API-KEY-PASSWORD",
	"addressify_api_key": "this-is-a-uuid-from-addressify"
}


